header {
    background: rgb(199, 199, 199);
    height: 50px;
    width: 100%;
}
.blue{
    background-color: rgb(118, 174, 247);
    height: 110px;
    width: 100%;
    position: fixed;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
}
.aqua{
    background-color: rbg(16, 187, 164);
    height: 110px;
    width: 100%;
    position: fixed;
    top: 310px;
    left: 0;
    bottom: 0;
    right: 0;
}
.green{
    background-color: rgb(6, 173, 15);
    height: 110px;
    width: 100%;
    position: fixed;
    top: 420px;
    left: 0;
    bottom: 0;
    right: 0;
}
.yellow{
    background-color: rgb(212, 241, 44);
    height: 110px;
    width: 100%;
    position: fixed;
    top: 530px;
    left: 0;
    bottom: 0;
    right: 0;
}
.blue-box{
    background-color: blue;
    height: 40px;
    width: 40px;
    z-index: 6;
    position: fixed;
    top: 5px;
    left: 5px;
    bottom: 0;
    right: 0;
}
p {
    font-size:20px;
    position: fixed;
    top: 70px;
    left: 20px;
    bottom: 0;
    right: 20px;
}